/* <div className="NavBarSideContainer2"> container sur NavBarSide.js*/
/* <div className="NavBarSide2"> container sur UserPage où il y a les deux NavigationBarre */
.NavBarSideUl {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 0rem;
    padding: 0.5rem;

}


.NavBarSideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    visibility: visible;
    /* width: 70%; */
    /* margin: 2rem; */

}

.NavBarSide2 {
    margin: 3rem;
    width: 30vw;
    background-color: aqua;

}

@media screen and (max-width:767px) {
    .NavBarSideUl {
        height: 0;
    }
}