/* A CHANGER TOTALEMENT */
/* 2 css: 
FORMULAIRES+RESULTATS       DEJA FAIT A PEU PRES
USERPAGE                    A ACTUALISER AVEC LE TEST*/

/* .form-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 2rem;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #028bfc;
    border-style: inset;
    width: 50%;
}


.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: large;
    border-radius: 0.2rem;
    border: solid 1px #bbb;
    font-size: 1rem;
    color: #646464;
    width: 95%;
    margin: 2rem;
    border-radius: 2rem;
}

.textarea {
    height: 5rem;
    font-size: 1.2rem;
} */

/* .userpage {
    display: flex;
    flex-direction: row;

    justify-content: center;
    width: 90%;

} */

/* .NavBarSide {
    width: 30%;
} */
/* 
.search_result {
    background-color: bisque;
    border: #646464;
    margin: .4rem 1rem;
    padding: .4rem;
    display: flex;
    flex-direction: row;

} */

/* .result {
    /* background-color: aliceblue; */
/* padding: 1rem 1rem;
    margin: 1rem 5rem;
    margin-right: 5rem;

    display: flex;
    flex-direction: column;
    width: 30%;


}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

/* .NavBarSide {
    width: 20%;
} */